:root {
            --primary: #8B0000;
            --primary-dark: #660000;
            --light: #F5F5F5;
            --dark: #333333;
            --gray: #7F8C8D;
        }
        #nosotros {
            background-color: rgb(85, 85, 85);
        }
     
        .stats {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .stat-item {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            padding: 2rem;
            border-radius: 8px;
          /*  box-shadow: 0 5px 15px rgba(0,0,0,0.08);*/
            transition: all 0.3s ease;
        }
      
        .stat-icon {
            width: 70px;
            height: 70px;

            border: 1px solid white;
            background: rgba(20, 20, 20, 0.097);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1.8rem;
            flex-shrink: 0;
        }
        
        .stat-content {
            flex: 1;
        }
        
        .stat-number {
            font-size: 1rem;
            font-weight: 600;
            color: rgb(205, 205, 205);
            margin-bottom: 0.3rem;
        }
        
      
        @media (max-width: 768px) {
            .stats {
                grid-template-columns: 1fr;
                gap: 0.8rem;
            }
            
            .stat-item {
                padding: 1.5rem;
            }
            
            .stat-icon {
                width: 60px;
                height: 60px;
                font-size: 1.5rem;
            }
            
            .stat-number {
                font-size: 1rem;
            }
        }