   :root {
     --primary: #8B0000;
     /* Color guinda */
     --primary-light: #A52A2A;
     --primary-dark: #660000;
     --secondary: #2C3E50;
     --accent: #E67E22;
     --light: #F5F5F5;
     --dark: #333333;
     --gray: #7F8C8D;
   }

   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   body {
     background-color: var(--light);
     color: var(--dark);
     line-height: 1.6;
     overflow-x: hidden;
   }

   .container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
   }

   /*noooooooooooooo*/

   #progress {

     top: 10vh;
     display: block;
     background-color: rgb(255, 236, 236);
     height: 2px;
     width: 0%;
     z-index: 51;
   }

 

